<configuration>

	<define name="astah.edition" class="com.change_vision.astah.extension.plugin.cplusreverse.internal.AstahEditionPropertyDefiner">
	</define>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${user.home}/.astah/${astah.edition}/cplusreverse.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${user.home}/.astah/${astah.edition}/cplusreverse.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>3</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d [%thread] %-5p %c{30} %X - %m%n</Pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="FILE" />
	</root>
</configuration>
