<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%cpp_reverse"
            visible="true"
            id="com.change_vision.astah.extension.plugin.cplusreverse.actionSet">
         <action
			   label="%cpp_reverse"
               icon="icons/sample.gif"
               class="com.change_vision.astah.extension.plugin.cplusreverse.actions.CPlusReverseAction"
               tooltip="%cpp_reverse"
               menubarPath="tool/c_plus/"
               id="com.change_vision.astah.extension.plugin.cplusreverse.actions.CPlusReverseAction">
         </action>
     </actionSet>
   </extension>
</plugin>
